/************************************************************
* 覆蓋 Bootstrap 預設樣式
************************************************************/
:root {
	--primary: #0270df;
}
.bg-primary {
	background-color: var(--primary) !important;
}
.text-primary {
	color: var(--primary) !important;
}
.btn-danger {
	background: var(--primary);
}
.btn-danger:hover {
	background: #0257ac;
}
.badge-danger {
	font-size: 1rem;
	background: var(--primary);
}
.border {
	border-width: 2px !important;
}

/************************************************************
* 自定樣式
************************************************************/
html, body {
	margin: 0px;
	padding: 0px;
}
body {
	/* font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "A-OTF 新ゴ Pro", "A-OTF Shin Go Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
	font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	-webkit-font-smoothing: antialiased;
}


h2 {
	font-size: 3.125rem;
	font-weight: 900;
	
}
h3 {
	/*font-family: "Noto Sans Japanese";*/
	font-weight: 900;
	font-size: 2.5rem;
	margin: 0;
}
h4 {
	font-weight: 900;
	font-size: 2rem;
}
h5 {
	font-weight: 900;
	font-size: 1.5rem;
}
p {
	font-weight: normal;
	margin-bottom: 1.7rem;
}
p:last-child {
	margin-bottom: 0;
}
a {
	color: #f9fafa;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
ul {
	list-style: none;
}
li {
	position: relative;
	margin-top:1rem;
}
li:first-child {
	margin-top: 0;
}
.border-bottom {
	display: inline-block;
	padding-bottom: 0.75rem;
	background: linear-gradient(90deg, #003da2, #2e84ef, #003da2) no-repeat center bottom;
	background-size: 100% 8px;
}
main section.alt {
	background: #f9fafa;
}
header .container, main .container {
	position: relative;
	max-width: 1020px;
}
.check-circle {
	/*margin-left: 6rem;*/
	font-weight: 700;
}
.check-circle li::before {
	position: absolute;
	content: '\f058';
	font-family: 'Font Awesome 5 Free';
	font-size: 1.25rem;
	font-weight: 900;
	left: -2.5rem;
	top: -3px;
	color: var(--primary);
}
.card-header {
	margin-bottom: 0 !important;
	font-size: 1.2rem;
	font-weight: 900;
	padding-left: 0;
}	
.card-body {
	/* padding: 3rem 12rem; */
	padding: 2rem 0rem;
}
.color-circle {
	display: block;
	background: var(--primary);
	color: #fff;
	border-radius: 100%;
	width: 64px;
	height: 64px;
	line-height: 67px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
}
#chart {
	background: linear-gradient(180deg, #f5f3ee 40%, #fff 50%);
}
td.active {
	background: #fff1d5;
}
.table .text-muted {
	font-size: 0.8em;
}
.qa .card-header {
	padding-top: 1rem;
	background: #fff;
	border: none;
	font-weight: 900;
}
.qa .card-header:first-child {
	padding-top: 0;
}
.qa .card-body {
	background: #f0eeeb;
}
.qa p {
	padding: 0px 80px;
}
.qa p:last-child {
	margin-bottom: 0;
}
.middle-col::after {
	content: '';
	display: block;
	height: 70%;
	border-left: 1px solid #ccd6dd;
	border-right: 1px solid #ccd6dd;
	position: absolute;
	top: 15%;
	left: 0px;
	width: 100%;
}
footer {
	padding: 2% 0;
	background: linear-gradient(90deg, #003da2, #2e84ef, #003da2);
	color: #f9fafa;
	text-align: center;
}
footer p {
	font-weight: 400;
}
footer p:last-child {
	margin: 0px;
}
@media (max-width: 768px) {
	body {
		font-size: 0.95rem;
	}
	h2 {
		font-size: 2rem;
		font-weight: 900;
	}
	h3 {
		/*font-family: "Noto Sans Japanese";*/
		font-weight: 900;
		font-size: 1.75rem;
		margin: 0;
	}
	h4 {
		font-weight: 900;
		font-size: 1.5rem;
	}
	h5 {
		font-weight: 900;
		font-size: 1rem;
	}
	#philosophy h4, #service h4 {
		font-size: 1.25rem;
	}
	#philosophy p {
		line-height: 1.75rem;
	}
	#chart {
		background: linear-gradient(180deg, #f5f3ee 50%, #fff 55%);
	}
	#service, #reason {
		background-size: auto 100%;
	}
	.card-body {
		padding: 1.5rem;
	}
	.card-body p:last-child {
		margin-bottom: 0;
	}
	p {
		padding: 0;
		margin-bottom: 1.6rem;
	}
	ul {
		max-width: 650px;
		font-weight: 900;
		margin-bottom: 0;
	}
	.color-circle {
		width: 48px;
		height: 48px;
		line-height: 50px;
		font-size: 1.25rem;
	}
	.table {
		font-size: 12px;
	}
	.table th, .table td {
		padding: 5px 0;
		font-size: 10px;
		line-height: 1.25;
	}
	.table .text-muted {
		font-size: 80%;
	}
	.table .btn {
		margin: 3px;
		margin-bottom: 0;
		font-size: 10px;
		padding: 0 0.25rem !important;
	}
	.feature .media {
		padding-bottom: 1.25rem;
		background: linear-gradient(90deg, #003da2, #2e84ef, #003da2) no-repeat center bottom;
		background-size: 100% 6px;
	}
	.feature h5 {
		margin-bottom: 0;
	}
	.feature .border-bottom {
		background: none;
		border: none !important;
		padding-bottom: 0;
	}
	.border-bottom {
	background-size: 100% 6px;
}
	.qa .card-header {
		font-size: 1rem;
	}
	.qa .card-body {
		padding: 1rem;
	}
	.qa p {
		padding: 0;
	}
	.middle-col::after {
		display: none;
	}
	footer {
		padding-top: 7%;
		padding-bottom: 7%;
		font-size: 13px;
	}
}